<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title> CONSULTA INDICE INVERTIDO </title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				<a id="logo"><span> Índice Invertido</span></a>
				<p>
					Cristian Franco & Jose M. Mira
				</p>
			</h1>

	</header>

	<section>

		<div class="homesection">

			<div class="container">
				<div class="node">
					<img src="img/searchGoogle.png" alt="nodelogo" id="nodelogo"/>
					<h2 id="chat">DATASET GUTENBERG</h2>
				</div>
			</div>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">ENTRAR</div>
					<div id="big">Bienvenido</div>
				</div>
			</a>

		</div>

	</section>

</body>
</html>
