<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> DOCUMENTOS RELACIONADOS </title>
  </head>
  <body>
    Documentos relacionados con la busqueda
    <section class="section">
    <div class="connected">

			<img src="../img/searchGoogle.png" id="creatorImage" />

			<div class="infoConnected">
				<h2>DATASET GUTENBERG</h2>
				<br/>

				<form class="loginForm">

					<input type="text" id="yourEmail" placeholder="Introducir palabra a buscar" /><br/>
					<input type="submit" id="yourEnter" value="Buscar" />
				</form>

			</div>

		</div>
  </section>
  </body>
</html>
